/* font-family: 'Rubik', sans-serif;
font-family: 'Rubik Mono One', sans-serif; */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body {
  }
  
  /* Navbar */
  .navbar {
    padding: 5% 15%;
  }
  .navbar-brand {
    font-family: "Rubik Mono One", sans-serif;
    font-weight: 400;
    font-size: 1.5rem;
    color: white;
    transition: all 0.3s;
  }
  .navbar-brand:hover {
    color: #ffffff;
  }
  .nav-link {
    font-family: "Rubik", sans-serif;
    font-weight: 600;
    color: #ffffff;
    background: #222;
    padding: 5% 15%;
    border-radius: 15px;
    transition: all 0.3s;
  }
  
  .nav-link:hover,
  :active {
    color: #000000;
    background: #aaaaaa;
  }
  
  /* Banner */
  .banner {
    background-color: black;
    height: 100vh;
  }
  #canvas {
    position: fixed;
  }
  
  .dg.ac {
    z-index: 1 !important;
  }
  .banner-heading {
    padding: 5% 0;
    text-align: justify;
  }
  .banner-heading h1 {
    font-family: "Rubik Mono One", sans-serif;
    font-weight: 400;
    color: white;
    font-size: 3.8rem;
    max-width: 85%;
    text-align: center;
    margin: 0 auto;
  }
  .banner-heading h1 span {
    font-size: 6rem;
  }
  
  /* About */
  .about {
    margin-top: 8%;
    padding: 0 16%;
  }
  
  .about-head {
    font-family: "Rubik", sans-serif;
    font-weight: 600;
    font-size: 1.5rem;
  }
  .about-para {
    font-family: "Rubik", sans-serif;
    font-weight: 400;
    line-height: 1.9rem;
    margin-top: 8%;
    margin-bottom: 8%;
  }
  .about-link {
    font-family: "Rubik", sans-serif;
    text-decoration: none;
    background-color: black;
    color: white;
    font-weight: 600;
    font-size: 0.85rem;
    border-radius: 25px;
    padding: 12px 30px;
  }
  .about-link:hover {
    color: black;
    background-color: #dddddd;
    transition: all 0.3s;
  }
  .about-img-wrap {
    width: 100%;
    display: flex;
    place-content: center flex-end;
    -webkit-box-pack: end;
  }
  .about-img-wrap img {
    width: 75%;
    border-radius: 25px;
  }
  
  .service-cards {
    margin-top: 10%;
    padding: 0 6%;
  }
  .service-card {
    padding: 8% 10%;
  }
  .service-card img {
    width: 150px;
    height: 120px;
    display: block;
    margin: 0 auto;
  }
  .service-card h2 {
    font-family: "Rubik", sans-serif;
    font-weight: 600;
    font-size: 1rem;
    margin-top: 20px;
    text-align: center;
  }
  .service-card p {
    font-family: "Rubik", sans-serif;
    font-weight: 400;
    margin-top: 20px;
    text-align: center;
  }
  
  /* Social Media Handles */
  .social-media {
    margin-top: 5%;
  }
  a,
  a:hover {
    text-decoration: none;
  }
  
  .socialbtns,
  .socialbtns ul,
  .socialbtns li {
    margin: 0;
    padding: 1.5%;
  }
  
  .socialbtns li {
    list-style: none outside none;
    display: inline-block;
  }
  
  .socialbtns .fab {
    /* width: 40px;
    height: 28px; */
  
    color: #ffffff;
    background-color: #000;
    /* border: 1px solid #000; */
    padding: 15px 15px;
    border-radius: 80px;
    -moz-border-radius: 80px;
    -webkit-border-radius: 80px;
    -o-border-radius: 80px;
    transition: all 0.3s;
  }
  
  .socialbtns .fab:hover {
    color: #000;
    background-color: #ddd;
    /* border: 1px solid #000; */
  }
  
  .terms {
    text-align: center;
    margin-top: 2%;
  }
  .terms ul {
    display: inline-block;
    display: flex;
    justify-content: center;
  }
  .terms ul li {
    text-decoration: none;
    margin: 0 4%;
    list-style: none;
  }
  .terms ul li a {
    text-decoration: none;
    color: black;
    font-family: "Rubik", sans-serif;
    font-weight: 400;
    transition: all 0.1s;
  }
  .terms ul li a:hover {
    border-bottom: solid 2px black;
  }
  /* Footer */
  .footer {
    margin-top: 2%;
    padding: 4% 0;
    display: flex;
    justify-content: center;
  }
  .footer img {
    display: inline-block;
    margin: 0 auto;
    width: 60px;
  }
  